<%- include('header') -%>
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae maiores aperiam laudantium fugiat, quae perferendis error eligendi voluptatibus atque architecto.</p>
<%- include('footer') -%>